
body {
    padding-top: 0px;
}


.sub-header {
    padding-bottom: 10px;
    padding-bottom: 20px;
}
.card {
    box-shadow: 0 0 0 0 rgb(90 113 208 / 11%), 0 4px 16px 0 rgb(167 175 183 / 33%);
    border: solid 1px #dde4eb;
    border-radius: 0px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.card .card-body {
        padding: 1.88rem 1.81rem;
}
/*
      * Top navigation
      * Hide default border to remove 1px line.
      */
.navbar.navbar-fixed-top {
    border: 0;
    padding-bottom: 15px;
    background-color: #301934 !important;
}
.container-fluid.main {
    margin-top: 5%;
}

/*
      * Sidebar
      */

/* Hide for mobile, show later */
.sidebar {
    display: none;
    background-color: #301934;
    border-radius: 0px;
    
}
    .sidebar > ul > li > a {
        color: #ffffff;
    }
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #301934;
        border-right: 1px solid #eee;
        width: 180px;
    }
}

/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

    .nav-sidebar > li > a {
        padding-right: 20px;
        padding-left: 20px;
        color: #ffffff;
    }

    .nav-sidebar > .active > a,
    .nav-sidebar > .active > a:hover,
    .nav-sidebar > .active > a:focus {
        color: #301934;
        background-color: #fff;
    }   

/*
      * Main content
      */
/*.main {
    padding: 10px;
}*/

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 100px;
    }
}

.main .page-header {
    margin-top: 0;
}
.navbar {
    background-color: #6c757d;
}
/*
      * Placeholder dashboard ideas
      */
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

    .placeholders h4 {
        margin-bottom: 0;
    }

.placeholder {
    margin-bottom: 20px;
}

    .placeholder img {
        display: inline-block;
        border-radius: 50%;
    }
