@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900");



.background_image img {
  display: flex;
  height: 400px;
  background-color: #f6f5f1;
  background-repeat: no-repeat;
  margin-left: 0%;
  background-size: cover;
  width: 100%;
}
/**/
/*middle*/

/**/
.description {
  margin-top: 10%;
}
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}
/**/
/**/
.back_img {
  margin-top: 5.7%;
  background-image: url("../service.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.back_img .card {
  border: none;
  margin: 7%;
  background-color: rgba(255, 255, 255, 0.884);
}

.back_img .card-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(255, 255, 255, 0.678);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: all 2s;
}

.back_img .card-inner:hover {
  transform: scale(1.1);
}

.mg-text span {
  font-size: 12px;
}

.mg-text {
  line-height: 14px;
}
/**/
/**/

.taskers .container {
  background-color: white;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

.taskers .title {
  font-size: 25px;
  font-weight: 100;
}

.taskers .icon {
  position: relative;
  bottom: 11px;
}

.taskers .mt-100 {
  margin-top: 100px;
}

.taskers .profile img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

.taskers .card {
  border-radius: 15px;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.taskers .card-body {
  position: relative;
  bottom: 35px;
}

.taskers .btn {
  margin-top: 36px;
  margin-bottom: 45px;
  background-color: #ab47bc;
  border: none;
  color: #fff;
}

.taskers .btn:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  color: #fff;
}

.taskers .header {
  padding-top: 40px;
}

/**/
.z_three .section-title {
  margin-bottom: 38px;
}

.z_three .section {
  padding-top: 40px;
  padding-bottom: 1400px;
}

.z_three .rounded-lg {
  border-radius: 10px;
}

.shadow,
.subscription-wrapper {
  box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1) !important;
}

.hover-bg-primary::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;

  z-index: -1;
  opacity: 0;
}

.hover-bg-secondary:hover {
  background: transparent;
}

.hover-bg-secondary:hover:before {
  opacity: 0.5;
}

.pricing-table:before,
.hover-bg-secondary::before,
.card-border-bottom:after {
  transition: ease 0.3s;
}

.hover-bg-secondary:hover * {
  color: #fff !important;
}

.hover-bg-secondary:hover * {
  color: #fff !important;
}

.z_three .btn-outline-secondary {
  color: #5c2c9b;
  border: 2px solid #1f0f4b;
}

.z_three .btn {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  padding: 14px 45px;
  border-radius: 45px;
  font-weight: 500;
  border: 1px solid;
  position: relative;
  z-index: 1;
  transition: 0.3s ease-in;
  overflow: hidden;
}

.hover-bg-secondary .btn {
  transition: unset;
}

.z_three.btn-outline-secondary:hover {
  color: #fff !important;
  background: none;
  border: 2px solid #823b98;
}
/**/
/**/

/**/
.section {
  margin-top: 100px;
}

.section h1 {
  font-size: 2em;
  line-height: 1.25em;
}

.section h2 {
  font-size: 1.6667em;
  line-height: 1.25em;
}

.section .section h3 {
  font-size: 1.5em;
  line-height: 1.2222em;
}

.section h4 {
  font-size: 1.3333em;
  line-height: 1.25em;
}

.section h5 {
  font-size: 1.1666em;
  line-height: 1.1428em;
}

.section h6 {
  font-size: 1em;
}

.section h1.fourty-space {
  font-size: 1.3333em;
  line-height: 1.25em;
  letter-spacing: 0.04em;
}

.section h2.fourty-space {
  font-size: 1.1666em;
  line-height: 1.1428em;
  letter-spacing: 0.04em;
}

.section h3.fourty-space {
  font-size: 1.0833em;
  line-height: 1.1428em;
  letter-spacing: 0.04em;
}

.section h4.fourty-space {
  font-size: 1em;
  line-height: 1.1em;
  letter-spacing: 0.04em;
}

.section h5.fourty-space {
  font-size: 0.9166;
  line-height: 1.1em;
  letter-spacing: 0.04em;
}

.section h6.fourty-space {
  font-size: 0.8333em;
  line-height: 1.1em;
  letter-spacing: 0.04em;
}

.box-title {
  margin-bottom: 0;
  font-weight: 200;
  font-size: 1.3em;
  color: #414040;
}

.section .box-title small {
  font-size: 10px;
  color: #838383;
  text-transform: uppercase;
  display: block;
  margin-top: 2px;
}

.section button,
input[type="button"].button,
a.button {
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0 15px;
  white-space: nowrap;
}

.section button.btn-small,
input[type="button"].button.btn-small,
a.button.btn-small {
  height: 28px;
  padding: 0 24px;
  line-height: 28px;
  font-size: 0.9167em;
}

.section a.button {
  display: inline-block;
  background: #d9d9d9;
  font-size: 0.8333em;
  line-height: 1.8333em;
  white-space: nowrap;
  text-align: center;
}

.section button.yellow:hover,
a.button.yellow:hover,
input[type="button"].button.yellow:hover {
  background: #f0715f;
}

.section .five-stars-container {
  display: inline-block;
  position: relative;
  font-family: "Glyphicons Halflings";
  font-size: 14px;
  text-align: left;
  cursor: default;
  white-space: nowrap;
  line-height: 1.2em;
  color: #dbdbdb;
}

.section .five-stars-container .five-stars,
.five-stars-container.editable-rating .ui-slider-range {
  display: block;
  overflow: hidden;
  position: relative;
  background: #fff;
  padding-left: 1px;
}

.section .five-stars-container .five-stars:before,
.five-stars-container.editable-rating .ui-slider-range:before {
  content: "\e006\e006\e006\e006\e006";
  color: #ef715f;
}

.section .five-stars-container:before {
  display: block;
  position: absolute;
  top: 0;
  left: 1px;
  content: "\e006\e006\e006\e006\e006";
  z-index: 0;
}

.section .price {
  color: #7db921;
  font-size: 1.6667em;
  text-transform: uppercase;
  float: right;
  text-align: right;
  line-height: 1;
  display: block;
}

.section .price small {
  display: block;
  color: #838383;
  font-size: 0.5em;
}

.section .price-wrapper {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8333em;
  color: inherit;
  line-height: 1.3333em;
  margin: 0;
}

.section .price-wrapper .price-per-unit {
  color: #7db921;
  font-size: 1.4em;
  padding-right: 5px;
}

.section .image-carousel.style2 .slides > li {
  margin-right: 30px;
}

.section .image-box .box > .details,
.image-box.box > .details {
  padding: 12px 15px;
}

.section .listing-style1.hotel .feedback {
  margin: 5px 0;
  border-top: 1px solid #f5f5f5;
  padding-top: 5px;
  border-bottom: 1px solid #f5f5f5;
}

.section .listing-style1.hotel .feedback .review {
  display: block;
  float: right;
  text-transform: uppercase;
  font-size: 0.8333em;
  color: #9e9e9e;
}

.section .listing-style1.hotel .action .button:last-child {
  float: right;
}

.section .box {
  border-radius: 0.5rem;
  border: 0.5px;
  box-shadow: #856b8f;
}

.section .fa {
  color: #e4cf11;
}
/**/

/*privacy*/

.privacy .wrapper {
  display: flex;
  justify-content: center;
}

.privacy .card {
  margin-top: 5%;
  padding: 15px;
  width: 80%;
  border: none;
  background-color: #f3f2f3;
}

.dark-button {
  position: relative;
}

.dot {
  height: 22px;
  width: 22px;
  top: 5px;
  position: relative;
  background-color: #8e24aa;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dark-dot {
  height: 22px;
  width: 22px;
  top: 1%;
  left: 77%;
  position: absolute;
  background-color: #585757;
  border-radius: 50%;
  display: inline-block;
  opacity: 0;
}

.dark-button {
  cursor: pointer;
}

.mode.checked .mode {
  background-color: red;
}

.card-dark {
  background-color: #585757;
  color: #fff;
}

.card.card-dark .dark-dot {
  animation: dark 0.5s ease-in forwards;
}

@keyframes dark {
  0% {
    opacity: 0.2;
    top: 15%;
    left: 70%;
  }

  50% {
    opacity: 0.5;
    top: 13%;
    left: 75%;
  }

  100% {
    opacity: 1;
    top: 7%;
    left: 77%;
  }
}
/**/
/*search*/

.search {
  margin-bottom: auto;
  margin-top: auto;
  height: 70px;
  background-color: #fff;
  border-radius: 40px;
  padding: 10px;
}

.search_input {
  color: rgb(53, 6, 46);
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 40px;
  transition: width 0.4s linear;
}

.search .search_input {
  padding: 0 10px;
  width: 550px;
  caret-color: rgb(73, 4, 70);
  transition: width 0.4s linear;
}

.search:hover > .search_icon {
  color: #fff;
}

.search_icon {
  height: 50px;
  width: 50px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background-color: rgb(70, 6, 64);
}

/**/
#footerLink:hover {
  text-decoration: none;
  font-size: large;
  text-shadow: #5c2c9b;
}
#footerLink {
  text-decoration: none;
}
.specLink {
  color: #735798;
}
.specLink:hover {
  color: #735798;
  text-decoration: none;
  font-size: larger;
}

#searchBar {
  border: none;
}

#searchBar::selection {
  border: none;
}
.button1 {
  background-color: #735798;
  color: white;
}
#sidebarMenu {
  height: 400px;
}

#privacy{
    padding:40px;
}

.service3:hover{
    color:none;
}

.cardsss {
    width: 20rem;
    border: none;
}

.cardsss:hover{
    border:solid 0.5px silver;
}

.contback{
    background-image:url("../back4.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    /*background-color:black;*/

}

@media screen and (max-wdith:500px){
    .cardrow{
        height:900px;
    }
    .cardrow2{
        margin-top:30px;
        
    }
}

.conform {
    padding-left: 120px;
    margin-top: 0px;
}

#form1 {
    width: 400px;
    height: 45px;
}

.btnsearch {
    background-color: silver;
}

@media screen and (max-width:600px) {
    .conform {
        padding-left: 50px;
        margin-top: 0px;
    }

    #form1 {
        width: 220px;
        height: 45px;
    }
}

@media screen and (min-width:601px) and (max-width:800px) {
    .conform {
        padding-left: 50px;
        margin-top: 0px;
    }

    #form1 {
        width: 310px;
        height: 45px;
    }
}

@media screen and (min-width:801px) and (max-width:1200px) {
    .conform {
        padding-left: 50px;
        margin-top: 0px;
    }

    #form1 {
        width: 310px;
        height: 45px;
    }
}